html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Hind Siliguri';
}

.nav_section {
  background-color: #000;
  height: 6.5rem;
  line-height: 6.5rem;
  position: relative;
}

.nav_section .container {
  position: relative;
}

.nav_section .container .arrows {
  position: absolute;
  right: 0;
  height: 100%;
  overflow: hidden;
  z-index: 99;
}

.nav_section .container .arrows i {
  color: #000;
  background: #fa4e15;
  cursor: pointer;
  padding: 6px 10px;
}

.nav_section .container .arrows .slick-prev {
  border-radius: 20px 0 0 20px;
}

.nav_section .container .arrows .slick-next {
  border-radius: 0 20px 20px 0;
}

.nav_section .container .arrows .slick-disabled {
  color: #fff;
}

.nav_section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_section ul li {
  display: inline-block;
  margin: 0 1rem;
}

.nav_section ul li a {
  display: inline-block;
  text-decoration: none;
  color: #999999;
  font-size: 1.8rem;
  padding: 0 1rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.nav_section ul li a::after, .nav_section ul li a .active::after {
  content: "";
  position: absolute;
  height: .6rem;
  background-color: #808080;
  width: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: .5rem .5rem 0 0;
  transition: all 0.3s;
}

.nav_section ul li a:hover {
  color: #fff;
}

.nav_section ul li a:hover::after {
  width: 100%;
}

.nav_section ul li .active {
  color: #fff;
}

.nav_section ul li .active::after {
  width: 100%;
}

.nav_section ul li:first-child {
  margin-left: 0;
}

.footer_section {
  padding: 6rem 0 4rem;
  background-color: #101010;
}

.footer_section .logo {
  display: block;
  text-align: center;
}

.footer_section .logo img {
  height: 65px;
}

.footer_section p {
  font-size: 1.8rem;
  color: #fff;
  margin: 3rem 0;
}

.footer_section h4 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 2.5rem;
}

.footer_section .social_icon {
  margin-bottom: 2rem;
}

.footer_section .social_icon i {
  color: #fff;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.8rem;
  text-align: center;
  margin-right: .8rem;
  transition: all 0.3s;
}

.footer_section .social_icon i:hover {
  transform: scale(1.1);
  background-color: #b56621;
  border-color: #b56621;
}

.footer_section h3 {
  color: #b56621;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 3rem 0 2.5rem;
}

.footer_section ul {
  list-style: none;
  padding: 0;
}

.footer_section ul li {
  display: block;
  margin-bottom: 1rem;
}

.footer_section ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.footer_section ul li a:hover {
  padding-left: .5rem;
  color: #ddd;
}

.header_section {
  padding: 3rem;
}

.header_section .logo img {
  height: 6.5rem;
}

.header_section .input-group input {
  font-size: 1.8rem;
  color: #636363;
  height: 6.5rem;
  line-height: 6.5rem;
  padding-left: 2.5rem;
  background-color: #f3f3f3;
  border: unset;
  border-radius: .4rem;
}

.header_section .input-group input:focus {
  box-shadow: unset;
  background-color: #f0f0f0;
}

.header_section .input-group span {
  font-size: 2rem;
  color: #a5a5a5;
  height: 6.5rem;
  line-height: 6.5rem;
  background-color: #f3f3f3;
  border: unset;
  padding: 0 1.5rem;
  border-radius: .4rem;
}

.header_section .input-group span i {
  transition: all 0.2s;
}

.header_section .input-group span:hover {
  cursor: pointer;
}

.header_section .input-group span:hover i {
  color: #636363;
  transform: scale(1.2);
}

.header_section .cart {
  position: relative;
  height: 100%;
  width: 100%;
}

.header_section .cart i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #4d4d4d;
  cursor: pointer;
}

.header_section .cart .cart_amount {
  position: absolute;
  top: 45%;
  left: 55%;
  color: #fff;
  background-color: #b56621;
  text-align: center;
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.header_section .user {
  height: 6.5rem;
  line-height: 6.5rem;
  text-align: center;
  border: 2px solid #c4854d;
  border-radius: .5rem;
  color: #b56621;
  font-size: 1.8rem;
  cursor: pointer;
}

.header_section .user i.fa-user-circle {
  margin-right: 1rem;
  font-size: 2.5rem;
  vertical-align: middle;
}

.header_section .user span i {
  margin-left: .5rem;
}

/** slider_section start ****/
.slider_section .main_slider ul {
  list-style: none;
  text-align: center;
  margin-top: -25px;
  z-index: 999;
  position: relative;
  margin-bottom: 0;
  padding: 0;
}

.slider_section .main_slider ul li {
  display: inline-block;
  margin: 0 4px;
}

.slider_section .main_slider ul li button {
  color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #fff;
}

.slider_section .main_slider ul .slick-active button {
  border-radius: 3rem;
  width: 2.5rem;
}

.slider_section .main_slider .slider_item img {
  width: 100%;
}

/** slider_section end ****/
.class_section {
  padding: 10rem 0 2rem;
  background-color: #eaeaea;
}

.class_section .all_class .single_class {
  border: .3rem solid #b56621;
  border-radius: .8rem;
  text-align: center;
  background-color: #fff;
  margin-bottom: 6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.class_section .all_class .single_class:hover {
  transform: translateY(-0.5rem);
}

.class_section .all_class .single_class .icon_box {
  background-color: #b56621;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin: -4.5rem auto 0;
}

.class_section .all_class .single_class .icon_box i {
  font-size: 4.5rem;
  line-height: 8rem;
  color: #fff;
}

.class_section .all_class .single_class h4 {
  margin-top: 2rem;
  font-size: 2.4rem;
  color: #785f49;
  font-weight: 600;
}

.class_section .all_class .single_class h3 {
  font-size: 3rem;
  color: #b56621;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.class_section .all_class .single_class h3 span {
  font-size: 1.6rem;
}

.copyright_section {
  height: 6rem;
  background-color: #000;
  text-align: center;
}

.copyright_section p {
  font-size: 1.8rem;
  line-height: 6rem;
  color: #fff;
}

.copyright_section p a {
  text-decoration: none;
  color: #b56621;
  text-transform: uppercase;
  margin-left: 0.2rem;
  transition: all 0.3s;
}

.copyright_section p a:hover {
  text-decoration: underline;
}

.checkout_section {
  padding: 4rem 0;
  background-color: #ececec;
}

.checkout_section .user_info {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 2px 2px 7px #babababa;
  margin-bottom: 2rem;
}

.checkout_section .user_info h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.checkout_section .user_info p {
  font-size: 1.6rem;
}

.checkout_section .user_info p a {
  color: #84472c;
  text-decoration: none;
  transition: all 0.3s;
}

.checkout_section .user_info p a:hover {
  text-decoration: underline;
}

.checkout_section .user_info .acc_check {
  margin-bottom: 2rem;
}

.checkout_section .user_info label {
  margin: 0.3rem 0 0 1rem !important;
}

.checkout_section .user_info .personal_info input,
.checkout_section .user_info .personal_info textarea,
.checkout_section .user_info .personal_info select {
  font-size: 1.6rem;
  color: #000;
  padding: 8px 10px;
  border: 0.1rem solid #b56621;
  border-radius: 0px;
  margin-bottom: 2.5rem;
}

.checkout_section .user_info .personal_info input:focus,
.checkout_section .user_info .personal_info textarea:focus,
.checkout_section .user_info .personal_info select:focus {
  box-shadow: unset;
}

.checkout_section .user_info .personal_info input::placeholder,
.checkout_section .user_info .personal_info textarea::placeholder,
.checkout_section .user_info .personal_info select::placeholder {
  color: #000;
}

.checkout_section .user_info .personal_info select {
  padding-left: 0.5rem;
}

.checkout_section .user_info .personal_info textarea {
  resize: none;
}

.checkout_section .amount_info {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 2px 2px 7px #babababa;
  margin-bottom: 2rem;
}

.checkout_section .amount_info h3 {
  font-size: 2rem;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.checkout_section .amount_info .total,
.checkout_section .amount_info .dv_charge,
.checkout_section .amount_info .discount,
.checkout_section .amount_info .grand_total {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cecece;
  margin-bottom: 2rem;
}

.checkout_section .amount_info .total p,
.checkout_section .amount_info .dv_charge p,
.checkout_section .amount_info .discount p,
.checkout_section .amount_info .grand_total p {
  margin-bottom: 1rem;
}

.checkout_section .amount_info .grand_total {
  border-bottom: unset;
}

.checkout_section .amount_info .grand_total p {
  font-weight: 600;
}

.checkout_section .amount_info .input-group {
  align-items: center;
}

.checkout_section .amount_info .input-group label {
  margin-left: 1.2rem !important;
}

.checkout_section .amount_info .confirm_btn {
  text-align: center;
  margin-top: 2.5rem;
}

.checkout_section .amount_info .confirm_btn input {
  background-color: #b56621;
  height: 4.5rem;
  padding: 0 1.8rem;
  border: 1px solid #b56621;
  color: #fff;
  transition: all 0.3s;
}

.checkout_section .amount_info .confirm_btn input:hover {
  color: #b56621;
  background-color: #fff;
}
