html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Hind Siliguri';
}

.nav_section {
  background-color: #000;
  height: 6.5rem;
  line-height: 6.5rem;
  position: relative;
}

.nav_section .container {
  position: relative;
}

.nav_section .container .arrows {
  position: absolute;
  right: 0;
  height: 100%;
  overflow: hidden;
  z-index: 99;
}

.nav_section .container .arrows i {
  color: #000;
  background: #fa4e15;
  cursor: pointer;
  padding: 6px 10px;
}

.nav_section .container .arrows .slick-prev {
  border-radius: 20px 0 0 20px;
}

.nav_section .container .arrows .slick-next {
  border-radius: 0 20px 20px 0;
}

.nav_section .container .arrows .slick-disabled {
  color: #fff;
}

.nav_section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_section ul li {
  display: inline-block;
  margin: 0 1rem;
}

.nav_section ul li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 0 1rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.nav_section ul li a::after, .nav_section ul li a .active::after {
  content: "";
  position: absolute;
  height: .6rem;
  background-color: #808080;
  width: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: .5rem .5rem 0 0;
  transition: all 0.3s;
}

.nav_section ul li a:hover {
  color: #999999;
}

.nav_section ul li a:hover::after {
  width: 100%;
}

.nav_section ul li .active {
  color: #fff;
}

.nav_section ul li .active::after {
  width: 100%;
}

.nav_section ul li:first-child {
  margin-left: 0;
}

.class_section .modal {
  background-color: #0000008a;
}

.class_section .modal-dialog {
  max-width: 40rem;
  margin: 1.75rem auto;
}

.class_section .modal-header {
  border-bottom: 0;
}

.class_section .modal-title {
  color: #fff;
}

.class_section .modal-body {
  padding-bottom: 0;
}

.class_section .modal-content {
  width: 100%;
  background-color: #b56621;
  padding: 0;
}

.class_section .modal-footer {
  justify-content: center;
  border-top: 0;
  padding-bottom: .8rem;
}

.class_section .modal-footer button {
  font-size: 1.6rem;
  background: #ffffff;
  border-color: #ffffff;
  color: #000;
}

.class_section .modal-footer button:focus {
  box-shadow: unset;
}

.icon_box {
  margin-top: 50px;
}

.icon_box a {
  text-decoration: none;
}

.icon_box .icon-box_item {
  text-align: center;
  background: #f2f2f2;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 3px 4px 6px #d1d1d1;
  transition: all .3s;
  margin-bottom: 1.5rem;
}

.icon_box .icon-box_item:hover {
  box-shadow: unset;
}

.icon_box .icon-box_item i {
  font-size: 5rem;
  color: #b96e2d;
}

.icon_box .icon-box_item h3 {
  font-size: 3rem;
  color: #000;
}

.icon_box .icon-box_item p {
  font-size: 1.6rem;
  color: #000;
}

.publishers_section {
  padding: 6rem 0 5rem;
  background-color: #efeeef;
}

.publishers_section .publisher_category .publisher_single_category {
  margin-bottom: 5rem;
}

.publishers_section .publisher_category .publisher_single_category .publisher_category_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.publishers_section .publisher_category .publisher_single_category .publisher_category_title h3 {
  font-size: 30px;
  color: #b56621;
}

.publishers_section .publisher_category .publisher_single_category .publisher_category_title a {
  text-decoration: none;
  color: #b56621;
  font-size: 1.5rem;
  background-color: #ffffff;
  border-radius: .6rem;
  box-shadow: 2px 3px 6px #c2bfbf;
  padding: 7px 10px;
  display: inline-block;
  line-height: 2.7rem;
}

.publishers_section .publisher_category .publisher_single_category .publisher_category_title a i {
  font-size: 1rem;
  margin-left: 1rem;
}

.publishers_section .publisher_category .more_category {
  text-align: center;
  margin-top: 30px;
}

.publishers_section .publisher_category .more_category .readMore_button {
  text-decoration: none;
  color: #fff;
  padding: 4px 18px;
  background: #b56621;
  border-radius: 3rem;
  display: inline-block;
}

.publisher_name {
  margin-top: 2rem;
}

.publisher_name a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  border-radius: .6rem;
  box-shadow: 2px 3px 6px #c2bfbf;
  background: #fff;
  height: 6rem;
  line-height: 6rem;
  font-weight: 500;
  text-align: center;
  display: block;
  transition: all .3s;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 9999;
}

.publisher_name a:hover {
  box-shadow: unset;
  color: #fff;
}

.publisher_name a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: #b56621;
  z-index: -1;
  border-radius: 50% 50% .5rem .5rem;
  transition: all .3s;
}

.publisher_name a:hover::after {
  height: 85%;
}

.callToAction_section {
  padding: 9rem 0;
  background-color: #b56621;
}

.callToAction_section .callToAction_text {
  text-align: center;
  font-family: inherit;
}

.callToAction_section .callToAction_text h2 {
  font-size: 4.8rem;
  font-weight: 600;
  color: #fff;
}

.callToAction_section .callToAction_text p {
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

.callToAction_section .callToAction_text .border {
  width: 20%;
  background-color: #fff;
  height: 2px;
  margin: 1rem auto;
  display: block;
}

.callToAction_section .callToAction_text p.small_text {
  font-size: 1.6rem;
  color: #fff;
}

.product_section {
  padding: 3rem 0 0;
}

.product_section .products {
  margin-bottom: 5rem;
}

.product_section .products .single_product {
  box-shadow: 3px 3px 5px #d0d0d0;
  border-radius: 1rem;
  transition: all .2s;
  margin-top: 3rem;
}

.product_section .products .single_product:hover {
  box-shadow: unset;
}

.product_section .products .single_product:hover .product_image::after {
  height: 100%;
}

.product_section .products .single_product .product_image {
  border: 1px solid #000;
  border-radius: .7rem .7rem 0 0;
  padding: 1rem;
  height: 28rem;
  overflow: hidden;
  background: linear-gradient(#b56621, #fff5ec);
  position: relative;
}

.product_section .products .single_product .product_image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(#fff5ec, #b56621);
  transition: all .5s;
}

.product_section .products .single_product .product_image img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9999;
}

.product_section .products .single_product .product_details {
  background: #000;
  text-align: center;
  padding: 1rem 0 .8rem;
}

.product_section .products .single_product .product_details .product_name {
  color: #fff;
  margin-bottom: 0;
}

.product_section .products .single_product .product_details .author_name {
  color: #b56621;
  margin-bottom: 0;
}

.product_section .products .single_product .product_details .product_cost {
  color: #fff;
  margin-bottom: 0;
}

.product_section .products .single_product .product_cart {
  display: flex;
}

.product_section .products .single_product .product_cart a.wishlist {
  background: #884c19;
  transition: all .2s;
  text-align: center;
  flex-grow: 1;
  padding: .5rem 0;
  border-radius: 0 0 0 1rem;
  border-right: 1px solid #000;
}

.product_section .products .single_product .product_cart a.wishlist:hover {
  background: #b56621;
}

.product_section .products .single_product .product_cart a.wishlist i {
  color: #fff;
  font-size: 2rem;
}

.product_section .products .single_product .product_cart a.cart {
  background: #b56621;
  transition: all .2s;
  text-align: center;
  flex-grow: 1;
  padding: .5rem 0;
  border-radius: 0 0 1rem 0;
  border-left: 1px solid #000;
}

.product_section .products .single_product .product_cart a.cart:hover {
  background: #884c19;
}

.product_section .products .single_product .product_cart a.cart i {
  color: #fff;
  font-size: 2rem;
}

.product_section .products .single_product a.order {
  text-decoration: none;
  margin: auto;
  display: block;
  text-align: center;
  padding: .5rem;
  background: #b56621;
  color: #fff;
  border-radius: 0 0 .7rem .7rem;
  transition: all .2s;
}

.product_section .products .single_product a.order:hover {
  background: #884c19;
}

.product_title {
  margin-top: 3rem;
}

.product_title .title_text {
  font-size: 2.7rem;
  background: #b56621;
  color: #fff;
  padding: 0.3rem 3rem .2rem 1.5rem;
  border-radius: 0px 25px 0px 0px;
}

.product_title .title_underline {
  display: block;
  background: #b56621;
  height: 2px;
  margin-top: 2px;
}

.small_button {
  text-align: center;
  margin: 2rem 0;
}

.small_button a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  border-radius: .5rem;
  background: #fff;
  font-weight: 500;
  text-align: center;
  transition: all .3s;
  display: inline-block;
  margin-left: .5rem;
  margin-right: 0.5rem;
  min-width: 150px;
  line-height: 4rem;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  position: relative;
  z-index: 999;
}

.small_button a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: #b56621;
  z-index: -1;
  border-radius: 50% 50% .5rem .5rem;
  transition: all .3s;
}

.small_button a:hover {
  color: #fff;
}

.small_button a:hover::after {
  height: 85%;
}

.footer_section {
  padding: 6rem 0 4rem;
  background-color: #101010;
}

.footer_section .logo {
  display: block;
  text-align: center;
}

.footer_section .logo img {
  height: 65px;
}

.footer_section p {
  font-size: 1.8rem;
  color: #fff;
  margin: 3rem 0;
}

.footer_section h4 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 2.5rem;
}

.footer_section .social_icon {
  margin-bottom: 2rem;
}

.footer_section .social_icon i {
  color: #fff;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.8rem;
  text-align: center;
  margin-right: .8rem;
  transition: all 0.3s;
}

.footer_section .social_icon i:hover {
  transform: scale(1.1);
  background-color: #b56621;
  border-color: #b56621;
}

.footer_section h3 {
  color: #b56621;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 3rem 0 2.5rem;
}

.footer_section ul {
  list-style: none;
  padding: 0;
}

.footer_section ul li {
  display: block;
  margin-bottom: 1rem;
}

.footer_section ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.footer_section ul li a:hover {
  padding-left: .5rem;
  color: #ddd;
}

/******* footer section end **************/
.copyright_section {
  padding: 2rem 0;
  background-color: #000;
  text-align: center;
}

.copyright_section p {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 0;
}

.copyright_section p a {
  text-decoration: none;
  color: #b56621;
  text-transform: uppercase;
  margin-left: 0.2rem;
  transition: all 0.3s;
}

.copyright_section p a:hover {
  text-decoration: underline;
}

.header_section {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.header_section .logo {
  margin-right: 2rem;
}

.header_section .logo img {
  width: 100%;
}

.header_section .input-group input {
  font-size: 1.8rem;
  color: #636363;
  height: 5.5rem;
  line-height: 5.5rem;
  padding-left: 2.5rem;
  background-color: #f3f3f3;
  border: unset;
  border-radius: .4rem;
}

.header_section .input-group input:focus {
  box-shadow: unset;
  background-color: #f0f0f0;
}

.header_section .input-group span {
  font-size: 2rem;
  color: #a5a5a5;
  height: 5.5rem;
  line-height: 5.5rem;
  background-color: #f3f3f3;
  border: unset;
  padding: 0 1.5rem;
  border-radius: .4rem;
}

.header_section .input-group span i {
  transition: all 0.2s;
}

.header_section .input-group span:hover {
  cursor: pointer;
}

.header_section .input-group span:hover i {
  color: #636363;
  transform: scale(1.2);
}

.header_section .cart {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 3rem;
}

.header_section .cart i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #4d4d4d;
  cursor: pointer;
}

.header_section .cart .cart_amount {
  position: absolute;
  top: 45%;
  left: 55%;
  color: #fff;
  background-color: #b56621;
  text-align: center;
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.header_section .user a {
  height: 5.5rem;
  line-height: 5.5rem;
  text-align: center;
  border: 2px solid #c4854d;
  border-radius: .5rem;
  color: #b56621;
  font-size: 1.8rem;
  text-decoration: none;
  display: block;
}

.header_section .user a i.fa-user-circle {
  margin-right: 1rem;
  font-size: 2.5rem;
  vertical-align: middle;
}

.header_section .user a span i {
  margin-left: .5rem;
}

/** slider_section start ****/
.slider_section .main_slider ul {
  list-style: none;
  text-align: center;
  margin-top: -25px;
  z-index: 999;
  position: relative;
  margin-bottom: 0;
  padding: 0;
}

.slider_section .main_slider ul li {
  display: inline-block;
  margin: 0 4px;
}

.slider_section .main_slider ul li button {
  color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #fff;
}

.slider_section .main_slider ul .slick-active button {
  border-radius: 3rem;
  width: 2.5rem;
}

.slider_section .main_slider .slider_item {
  max-height: 40rem;
}

.slider_section .main_slider .slider_item img {
  width: 100%;
}

/** slider_section end ****/
.class_section {
  padding: 10rem 0 2rem;
  background-color: #eaeaea;
}

.class_section .all_class .single_class {
  border: .3rem solid #b56621;
  border-radius: .8rem;
  text-align: center;
  background-color: #fff;
  margin-bottom: 6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.class_section .all_class .single_class:hover {
  transform: translateY(-0.5rem);
}

.class_section .all_class .single_class .icon_box {
  background-color: #b56621;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin: -4.5rem auto 0;
}

.class_section .all_class .single_class .icon_box i {
  font-size: 4.5rem;
  line-height: 10rem;
  color: #fff;
}

.class_section .all_class .single_class h4 {
  margin-top: 2rem;
  font-size: 2.4rem;
  color: #785f49;
  font-weight: 600;
}

.class_section .all_class .single_class h3 {
  font-size: 3rem;
  color: #b56621;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.class_section .all_class .single_class h3 span {
  font-size: 1.6rem;
}

/**** category_section start ********/
.category_section {
  padding: 80px 0 50px;
}

/**** category_section end **********/
.section_title {
  text-align: center;
}

.section_title h2 {
  font-size: 48px;
  color: #b56621;
}

.section_title p {
  font-size: 16px;
  color: #000;
}

.margin-0 {
  margin-top: 0;
}

.checkout_section {
  padding: 4rem 0;
  background-color: #ececec;
}

.checkout_section .user_info {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 2px 2px 7px #babababa;
  margin-bottom: 2rem;
}

.checkout_section .user_info h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.checkout_section .user_info p {
  font-size: 1.6rem;
}

.checkout_section .user_info p a {
  color: #84472c;
  text-decoration: none;
  transition: all 0.3s;
}

.checkout_section .user_info p a:hover {
  text-decoration: underline;
}

.checkout_section .user_info .personal_info input,
.checkout_section .user_info .personal_info textarea,
.checkout_section .user_info .personal_info select {
  font-size: 1.6rem;
  color: #000;
  padding: 8px 10px;
  border: 0.1rem solid #b56621;
  border-radius: 0px;
  margin-bottom: 2.5rem;
}

.checkout_section .user_info .personal_info input:focus,
.checkout_section .user_info .personal_info textarea:focus,
.checkout_section .user_info .personal_info select:focus {
  box-shadow: unset;
}

.checkout_section .user_info .personal_info input::placeholder,
.checkout_section .user_info .personal_info textarea::placeholder,
.checkout_section .user_info .personal_info select::placeholder {
  color: #000;
}

.checkout_section .user_info .personal_info select {
  padding-left: 0.5rem;
}

.checkout_section .user_info .personal_info textarea {
  resize: none;
}

.checkout_section .amount_info {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 2px 2px 7px #babababa;
  margin-bottom: 2rem;
}

.checkout_section .amount_info h3 {
  font-size: 2rem;
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.checkout_section .amount_info .total,
.checkout_section .amount_info .dv_charge,
.checkout_section .amount_info .discount,
.checkout_section .amount_info .grand_total {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cecece;
  margin-bottom: 2rem;
}

.checkout_section .amount_info .total p,
.checkout_section .amount_info .dv_charge p,
.checkout_section .amount_info .discount p,
.checkout_section .amount_info .grand_total p {
  margin-bottom: 1rem;
}

.checkout_section .amount_info .grand_total {
  border-bottom: unset;
}

.checkout_section .amount_info .grand_total p {
  font-weight: 600;
}

.checkout_section .amount_info .confirm_btn {
  text-align: center;
  margin-top: 2.5rem;
}

.checkout_section .amount_info .confirm_btn input {
  background-color: #b56621;
  height: 4.5rem;
  padding: 0 1.8rem;
  border: 1px solid #b56621;
  color: #fff;
  transition: all 0.3s;
}

.checkout_section .amount_info .confirm_btn input:hover {
  color: #b56621;
  background-color: #fff;
}

.product_detail_section {
  background-color: #ececec;
  padding: 4rem 0 5.5rem;
}

.product_detail_section .product_info {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 2px 2px 7px #babababa;
  margin-bottom: 3rem;
}

.product_detail_section .product_info .thumbnail {
  overflow: hidden;
  text-align: center;
}

.product_detail_section .product_info .thumbnail img {
  border: 1px solid #000;
  padding: 2rem;
  max-width: 100%;
  max-height: 42rem;
  transition: all 0.3s;
}

.product_detail_section .product_info .thumbnail img:hover {
  background-color: #ddd;
}

.product_detail_section .product_info .info .top .product_name {
  font-size: 3.6rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 3rem;
}

.product_detail_section .product_info .info .top .author, .product_detail_section .product_info .info .top .publisher {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.product_detail_section .product_info .info .bottom {
  margin-top: 10rem;
}

.product_detail_section .product_info .info .bottom del {
  font-size: 1.8rem;
  color: #000;
}

.product_detail_section .product_info .info .bottom .price {
  font-weight: 500;
  font-size: 2.4rem;
}

.product_detail_section .product_info .info .bottom a {
  height: 3.3rem;
  line-height: 3.3rem;
  background-color: #000;
  display: inline-block;
  padding: 0 1rem;
  text-decoration: none;
  color: #fff;
  border: 1px solid #000;
  border-radius: .3rem;
  margin-right: 1.2rem;
  transition: all .3s;
}

.product_detail_section .product_info .info .bottom a:hover {
  color: #000;
  background-color: #fff;
}

.product_detail_section .product_info .info .bottom a i {
  padding-right: 1rem;
}

.product_detail_section .product_info .info .bottom button {
  height: 3.3rem;
  line-height: 3.3rem;
  background-color: #b56621;
  padding: 0 1rem;
  text-decoration: none;
  color: #fff;
  border: 1px solid #b56621;
  border-radius: .3rem;
  transition: all .3s;
}

.product_detail_section .product_info .info .bottom button:hover {
  color: #b56621;
  background-color: #fff;
}

.product_detail_section .product_info .info .bottom button i {
  padding-right: 1rem;
}

.product_detail_section .product_info .info .bottom .social_icon {
  margin-top: 2rem;
}

.product_detail_section .product_info .info .bottom .social_icon a {
  height: 3.3rem;
  width: 3.3rem;
  line-height: 3.3rem;
  margin-right: 1rem;
  padding: 0;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.product_detail_section .product_info .info .bottom .social_icon a:hover {
  background-color: #000;
  color: #fff;
}

.product_detail_section .product_info .info .bottom .social_icon a i {
  padding-right: 0;
}

.product_detail_section .detail_and_review {
  padding: 3rem;
  background-color: #fff;
  box-shadow: 2px 2px 7px #babababa;
}

.product_detail_section .detail_and_review ul {
  justify-content: center;
  margin-bottom: 3.5rem;
}

.product_detail_section .detail_and_review ul li button {
  border: 2px solid #b56621;
  background-color: #fff;
  color: #b56621;
  border-radius: 0;
  height: 4.5rem;
  width: 12.5rem;
}

.product_detail_section .detail_and_review ul li button.active {
  background-color: #b56621;
  color: #fff;
}

.product_detail_section .detail_and_review p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #282828;
  margin-bottom: 2rem;
}

.product_count_section {
  background-color: #ececec;
  padding: 3rem 0 5rem;
}

.product_count_section .total_product .total_product_count {
  padding: 2.2rem;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 10px #c3c3c3;
}

.product_count_section .total_product .total_product_count .product .main_heading {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.product_count_section .total_product .total_product_count .total_amount {
  text-align: right;
}

.product_count_section .total_product .total_product_count .total_amount .main_heading {
  font-size: 2rem;
  font-weight: 500;
}

.product_count_section .total_product .total_product_count .total_amount .sub_heading {
  font-size: 1.6rem;
  font-weight: 400;
  color: #4b7542;
}

.product_count_section .total_product .scrolable {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 2rem 0;
  background-color: #ffffff;
  box-shadow: 2px 3px 10px #c3c3c3;
}

.product_count_section .total_product .total_product_list {
  padding: 2rem;
  min-width: 46rem;
}

.product_count_section .total_product .total_product_list .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_count_section .total_product .total_product_list .list .book {
  margin-right: 3.2rem;
}

.product_count_section .total_product .total_product_list .list .book a img {
  max-width: 7rem;
  height: 9.8rem;
}

.product_count_section .total_product .total_product_list .list .book_description {
  margin-right: 20.9rem;
}

.product_count_section .total_product .total_product_list .list .book_description .main_heading {
  font-size: 2rem;
  font-weight: 500;
}

.product_count_section .total_product .total_product_list .list .book_description .sub_heading {
  font-size: 1.6rem;
  font-weight: 400;
  color: #4b7542;
}

.product_count_section .total_product .total_product_list .list .book_description a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #4b7542;
  text-decoration: none;
  color: #ff5858;
}

.product_count_section .total_product .total_product_list .list .input-group {
  width: 10rem;
}

.product_count_section .total_product .total_product_list .list .input-group a {
  text-decoration: none;
  background-color: #b56621;
  border: .2rem solid #b56621;
}

.product_count_section .total_product .total_product_list .list .input-group a i {
  color: #ffffff;
}

.product_count_section .total_product .total_product_list .list .input-group input {
  box-shadow: unset;
  border: .2rem solid #b56621;
}

.product_count_section .total_product .total_product_list .list .price {
  margin-left: 11.2rem;
}

.product_count_section .total_product .total_product_list .list .price .main_heading {
  font-size: 2rem;
  font-weight: 500;
}

.product_count_section .total_product .total_product_list .list .price .sub_heading {
  text-decoration: line-through;
  font-size: 1.6rem;
  font-weight: 400;
}

.product_count_section .count_at_a_glance {
  padding: 2.2rem 3.1rem 2.9rem 3.1rem;
  background-color: #ffffff;
  box-shadow: 2px 3px 10px #c3c3c3;
}

.product_count_section .count_at_a_glance .count {
  text-align: center;
}

.product_count_section .count_at_a_glance .count .main_heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.product_count_section .count_at_a_glance .total {
  display: flex;
  justify-content: space-between;
}

.product_count_section .count_at_a_glance .total .main_heading {
  font-size: 2rem;
  font-weight: 500;
}

.product_count_section .count_at_a_glance .total .main {
  font-size: 2rem;
  font-weight: 700;
}

.product_count_section .count_at_a_glance .total .sub {
  font-size: 2rem;
  font-weight: 700;
}

.product_count_section .check_out a {
  text-decoration: none;
  padding: 1rem 2.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  background-color: #b56621;
  margin-top: 2.5rem;
  display: inline-block;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.product_count_section .check_out a:hover {
  color: #b56621;
  background-color: #fff;
  border: 1px solid #b56621;
}

.product_count_section form {
  margin-top: 3.5rem;
}

.product_count_section form label {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.product_count_section form .input-group {
  border: 0.2rem solid #b56621;
}

.product_count_section form .input-group .form-control {
  border: 0;
}

.product_count_section form .input-group input {
  box-shadow: unset;
}

.product_count_section form .input-group a {
  text-decoration: none;
  background-color: #b56621;
  color: #ffffff;
  border-radius: 0;
  border-left: .4px solid transparent;
  padding: .5rem 1.2rem;
  font-size: 1.7rem;
  transition: all 0.3s;
}

.product_count_section form .input-group a:hover {
  color: #b56621;
  background-color: #fff;
  border-left: .4rem solid #b56621;
}

@media all and (min-width: 1200px) {
  .header_section .cart {
    margin-top: 2rem;
  }
  .header_section .logo img {
    width: 80%;
  }
}

@media all and (max-width: 1200px) {
  .header_section .cart {
    margin-top: 0;
  }
  .product_detail_section .product_info .info {
    padding-left: 2rem;
  }
  .product_count_section .total_product .total_product_list .list .price {
    margin-left: 3.2rem;
  }
  .product_count_section .total_product .total_product_list .list .book_description {
    margin-right: 1.9rem;
  }
}

@media all and (max-width: 992px) {
  .product_detail_section .product_info .info .bottom {
    margin-top: 2rem;
  }
  .product_count_section form label {
    font-size: 1.7rem;
  }
  .product_count_section .check_out a {
    text-decoration: none;
    padding: 0.7rem 1.2rem;
  }
  .product_count_section .count_at_a_glance .total .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .total_product .total_product_count .product .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .total_product .total_product_count .total_amount .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .total_product .total_product_list .list .book_description .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .total_product .total_product_list .list .price .main_heading {
    font-size: 1.7rem;
  }
}

@media all and (max-width: 768px) {
  /** header section **/
  .header_section .input-group {
    margin-top: 3rem;
  }
  .header_section .cart {
    margin-top: 2rem;
  }
  .header_section .user a {
    height: 5.5rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
  }
  .header_section .user a {
    border: none;
    text-align: right;
  }
  .header_section .user a span {
    display: none;
  }
  .header_section .user a i.fa-user-circle {
    font-size: 4rem;
    margin-top: 1rem;
  }
  .category_section {
    padding: 6rem 0 4rem;
  }
  .icon_box .icon-box_item h3 {
    font-size: 2.4rem;
    font-weight: 600;
  }
  /* section title */
  .section_title h2 {
    font-size: 38px;
  }
  /**** call to action ****/
  .callToAction_section {
    padding: 4rem 0;
  }
  .product_detail_section .product_info .info {
    margin-top: 2.5rem;
    padding-left: 0;
  }
  .product {
    margin-right: 5rem;
  }
  .product_count_section .count_at_a_glance .count .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .count_at_a_glance .count .main_heading {
    margin-bottom: 2rem;
  }
  .product_count_section .total_product .total_product_list .list .input-group {
    width: -1rem;
  }
  .product_count_section .total_product .total_product_list .list .book {
    margin-right: 3rem;
  }
  .product_count_section .total_product .total_product_list .list .input-group {
    width: 9rem;
  }
  .input-group-text {
    border-radius: unset;
  }
  .product_count_section .count_at_a_glance .total .sub {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
  .product_count_section .check_out a {
    text-decoration: none;
    padding: 0.8rem 2rem;
    font-size: 1.3rem;
  }
}

@media all and (max-width: 575px) {
  .header_section {
    padding: .5rem .5rem 2rem;
  }
  .header_section .input-group input {
    height: 4.5rem;
  }
  .header_section .input-group span {
    height: 4.5rem;
  }
  /** category section **/
  .category_section .section_title {
    margin-top: 2rem;
  }
  .class_section {
    padding: 6rem 0 0;
  }
  .icon_box {
    margin-top: 3rem;
  }
  .publishers_section {
    padding: 4rem 0 3rem;
  }
  .publishers_section .publisher_category .publisher_single_category {
    margin-bottom: 3rem;
  }
  /**** product section ****/
  .product_detail_section .product_info {
    padding: 3rem 1.5rem;
  }
  .product_section {
    padding: 0;
  }
  .product_section .products {
    margin-bottom: 4rem;
  }
  .product_section .products .single_product {
    margin-top: 1.5rem;
  }
  .product_title .title_text {
    font-size: 1.7rem;
  }
  .product {
    margin-right: 3rem;
  }
  /**** nav section *****/
  .nav_section {
    height: 4.5rem;
    line-height: 4.5rem;
  }
  .nav_section ul li a {
    font-size: 1.5rem;
  }
  .nav_section ul li a::after, .nav_section ul li a .active::after {
    height: 0.5rem;
  }
  .footer_section {
    text-align: center;
  }
  .footer_section {
    padding: 2rem 0;
  }
  /** slider section ***/
  .slider_section .main_slider ul li button {
    height: 1rem;
    width: 1rem;
  }
  /*** call to action ***/
  .callToAction_section .callToAction_text h2 {
    font-size: 3.8rem;
  }
  .callToAction_section .callToAction_text p {
    font-size: 2rem;
  }
  .callToAction_section .callToAction_text .border {
    width: 33%;
  }
  .checkout_section .user_info {
    padding: 2rem;
  }
  .checkout_section {
    padding: 3rem 0 1rem;
  }
  .category_section {
    padding: 0 0 2rem;
  }
}

@media all and (max-width: 481px) {
  /*** header section ***/
  .header_section .user a i.fa-user-circle {
    margin-top: 2rem;
  }
  .header_section .input-group {
    margin-top: 2rem;
  }
  .copyright_section p {
    font-size: 1.5rem;
  }
  .class_section .all_class .single_class .icon_box {
    height: 6rem;
    width: 6rem;
    margin: -3rem auto 0;
  }
  .class_section .all_class .single_class {
    margin-bottom: 4rem;
  }
  .class_section .all_class .single_class h3 {
    font-size: 1.8rem;
  }
  .class_section .all_class .single_class h3 span {
    font-size: 1rem;
  }
  .class_section .all_class .single_class .icon_box i {
    font-size: 3.5rem;
    line-height: 8rem;
  }
  .class_section .all_class .single_class h4 {
    font-size: 2rem;
  }
  .class_section .all_class .single_class h3 {
    font-size: 2rem;
  }
  /*** publisher section **/
  .publishers_section .publisher_category .publisher_single_category .publisher_category_title h3 {
    font-size: 25px;
  }
  .section_title h2 {
    font-size: 28px;
  }
  .section_title p {
    font-size: 13px;
  }
  .icon_box .icon-box_item {
    padding: 2rem 1rem;
  }
  .icon_box .icon-box_item h3 {
    font-size: 1.8rem;
  }
  .icon_box .icon-box_item p {
    font-size: 1.4rem;
  }
  .icon_box .icon-box_item i {
    font-size: 3rem;
  }
  /****** call to action ******/
  .callToAction_section {
    padding: 2rem 0;
  }
  .callToAction_section .callToAction_text h2 {
    font-size: 3rem;
  }
  .callToAction_section .callToAction_text .border {
    margin: .4rem auto;
  }
}

@media all and (max-width: 395px) {
  .icon_box .icon-box_item {
    min-height: 160px;
    padding-bottom: 0;
  }
}
