@media all and (max-width: 1200px) {
  .product_count_section .total_product .total_product_list .list .price {
    margin-left: 3.2rem;
  }
  .product_count_section .total_product .total_product_list .list .book_description {
    margin-right: 1.9rem;
  }
}

@media all and (max-width: 992px) {
  .product_count_section form label {
    font-size: 1.7rem;
  }
  .product_count_section .check_out a {
    text-decoration: none;
    padding: 0.7rem 1.2rem;
  }
  .product_count_section .count_at_a_glance .total .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .total_product .total_product_count .product .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .total_product .total_product_count .total_amount .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .total_product .total_product_list .list .book_description .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .total_product .total_product_list .list .price .main_heading {
    font-size: 1.7rem;
  }
}

@media all and (max-width: 768px) {
  .product {
    margin-right: 5rem;
  }
  .product_count_section .count_at_a_glance .count .main_heading {
    font-size: 1.7rem;
  }
  .product_count_section .count_at_a_glance .count .main_heading {
    margin-bottom: 2rem;
  }
  .product_count_section .total_product .total_product_list .list .input-group {
    width: -1rem;
  }
  .product_count_section .total_product .total_product_list .list .book {
    margin-right: 3rem;
  }
  .product_count_section .total_product .total_product_list .list .input-group {
    width: 9rem;
  }
  .input-group-text {
    border-radius: unset;
  }
  .product_count_section .count_at_a_glance .total .sub {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
  .product_count_section .check_out a {
    text-decoration: none;
    padding: 0.8rem 2rem;
    font-size: 1.3rem;
  }
}
