.callToAction_section{
    padding: 9rem 0;
    background-color: #b56621;

    .callToAction_text{
        text-align: center;

        h2{
            font-size: 4.8rem;
            font-weight: 600;
            color: #fff;
        }
        p{
            font-size: 3rem;
            color: #fff;
            margin: 0;
        }
        // stationary page
        .border{
            width: 20%;
            background-color: #fff;
            height: 2px; 
            margin: 1rem auto;
            display: block; 
        }
        p.small_text{
            font-size: 1.6rem;
            color: #fff;
        }
    }
}