
.class_section{

    .modal-dialog {
        max-width: 40rem;
        margin: 1.75rem auto;
    }
    .modal-header { 
        border-bottom: 0; 
    }
    .modal-body{
        padding-bottom: 0;
    }
    .modal-content { 
        width: 100%; 
        background-color: #cfcdcf;
         
    }
    .modal-footer { 
        justify-content: center;  
        border-top: 0; 
        padding-top: 0;

        button{
            font-size: 1.6rem;
            background: #b56621;
            border-color: #b56621;
            
            &:focus{
                box-shadow: unset;
            }
        }
    }
}
