
.class_section{
    .modal{
        background-color: #0000008a;
    }
    .modal-dialog {
        max-width: 40rem;
        margin: 1.75rem auto;
    }
    .modal-header { 
        border-bottom: 0; 
    }
    .modal-title { 
        color: #fff;
    }
    .modal-body{
        padding-bottom: 0;
    }
    .modal-content { 
        width: 100%; 
        background-color: #b56621;
        padding: 0;
    }
    .modal-footer { 
        justify-content: center;  
        border-top: 0;  
        padding-bottom: .8rem;

        button{
            font-size: 1.6rem;
            background: #ffffff;
            border-color: #ffffff;
            color: #000;
            &:focus{
                box-shadow: unset;
            }
        }
    }
}
