.nav_section{
    background-color: #000;
    height: 6.5rem;
    line-height: 6.5rem;
    position: relative;
    .container{
        position: relative;
        .arrows{
            position: absolute;
            right: 0;
            height: 100%;
            overflow: hidden;
            z-index: 99;
            i{
                color: #000;
                background: #fa4e15;
                cursor: pointer;
                padding: 6px 10px;
            }
            .slick-prev{
                border-radius: 20px 0 0 20px;
            }
            .slick-next{
                border-radius: 0 20px 20px 0;
            }
            .slick-disabled{
                color: #fff;
            }
        }
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            margin: 0 1rem;
            a{
                display: inline-block;
                text-decoration: none;
                color: #ffffff;
                font-size: 1.8rem;
                padding: 0 1rem;
                position: relative;
                overflow: hidden;
                transition: all 0.3s;
                &::after, .active::after{
                    content: "";
                    position: absolute;
                    height: .6rem;
                    background-color: #808080;
                    width: 0;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: .5rem .5rem 0 0;
                    transition: all 0.3s;
                }
                &:hover{
                    color: #999999;
                }
                &:hover::after{
                    width: 100%;
                }
            }
            .active{
                color:#fff;
                &::after{
                    width: 100%;
                }       
            }
            &:first-child{
                margin-left: 0;
            }
        }
    }
}