.publishers_section{
    padding: 6rem 0 5rem;
    background-color: #efeeef;

    .publisher_category{

        .publisher_single_category{
            margin-bottom: 5rem;
            .publisher_category_title{
                display: flex;
                justify-content:space-between;
                margin-bottom: 2rem;
                h3{
                    font-size: 30px;
                    color: #b56621;
                }
                a{
                    text-decoration: none;
                    color: #b56621;
                    font-size: 1.5rem;
                    border-radius: .6rem;
                    box-shadow: 2px 3px 6px #c2bfbf;
                    padding: 7px 10px;
                    display: inline-block;
                    line-height: 2.7rem;

                    i{
                        font-size: 1rem;
                        margin-left: 1rem;

                    }
                }
            }
            
        }
        .more_category{
            text-align: center;
            margin-top: 30px;
            .readMore_button{
                text-decoration: none;
                color: #fff;
                padding: 4px 18px;
                background: #b56621;
                border-radius: 3rem;
                display: inline-block;
            }
        }
    }
}

// publisher name
.publisher_name{
    margin-top: 2rem;
    a{
        text-decoration: none;

        color: #000;
        font-size: 1.5rem;
        border-radius: .6rem;
        box-shadow: 2px 3px 6px #c2bfbf;
        background: #fff;
        // width: 15rem;
        height: 6rem;
        line-height: 6rem;
        font-weight: 500;
        text-align: center;
        display: block; 
        transition: all .3s;
        margin-bottom: 2rem;
        
        &:hover{
            box-shadow: unset;
        }
    }
}