
@media all and (max-width: 767px){
    .header_section .input-group { 
        margin-top: 3rem;
        input{
            height: 5.5rem;
        }
        span{
            height: 5.5rem;
        } 
    }
    .header_section .user a{
        height: 5.5rem;
        line-height: 5.5rem; 
        font-size: 1.6rem;
    }
}

@media all and (max-width: 480px){
    .header_section .user a{
        border: none;
    }
    .header_section .user a span{
        display: none;
    }
    .header_section .user a i.fa-user-circle { 
        font-size: 5rem; 
    }
}


// Product detail page responsive
@media all and (max-width: 1200px){
    .product_detail_section{
        .product_info{
            .info{
                padding-left: 2rem;
            }
        }
    }
}
@media all and (max-width: 992px){
    .product_detail_section{
        .product_info{
            .info{
                .bottom{
                    margin-top: 2rem;
                }
            }
        }
    }
}
@media all and (max-width: 768px){
    .product_detail_section{
        .product_info{
            .info{
                margin-top: 2.5rem;
                padding-left: 0;
            }
        }
    }
}
@media all and (max-width: 575px){
    .product_detail_section{
        .product_info{
            padding: 3rem 1.5rem;
        }
    }
}