
@media all and (min-width: 1200px){
    .header_section .logo img {
        width: 80%;
    }
}
@media all and (max-width: 767px){
    .header_section .input-group { 
        margin-top: 3rem;
        input{
            height: 5.5rem;
        }
        span{
            height: 5.5rem;
        } 
    }
    .header_section .user a{
        height: 5.5rem;
        line-height: 5.5rem; 
        font-size: 1.6rem;
    }
}

@media all and (max-width: 480px){
    .header_section .user a{
        border: none;
    }
    .header_section .user a span{
        display: none;
    }
    .header_section .user a i.fa-user-circle { 
        font-size: 4rem;
        margin-top: 2rem; 
    }
}


// Product detail page responsive
@media all and (max-width: 1200px){
    .product_detail_section{
        .product_info{
            .info{
                padding-left: 2rem;
            }
        }
    }
}
@media all and (max-width: 992px){
    .product_detail_section{
        .product_info{
            .info{
                .bottom{
                    margin-top: 2rem;
                }
            }
        }
    }
}
@media all and (max-width: 768px){
    .product_detail_section{
        .product_info{
            .info{
                margin-top: 2.5rem;
                padding-left: 0;
            }
        }
    }
}
@media all and (max-width: 575px){
    .product_detail_section{
        .product_info{
            padding: 3rem 1.5rem;
        }
    }
}


// Product and price by minhaj bro




@media all and (max-width:1200px){
    .product_count_section .total_product .total_product_list .list .price {
        margin-left: 3.2rem;
    }
    .product_count_section .total_product .total_product_list .list .book_description {
        margin-right: 1.9rem;
    }
}


@media all and (max-width:992px){
    .product_count_section form label {
        font-size: 1.7rem;
    }
    .product_count_section .check_out a {
        text-decoration: none;
        padding: 0.7rem 1.2rem;
    }
    .product_count_section .count_at_a_glance .total .main_heading {
        font-size: 1.7rem;
    }
    .product_count_section .total_product .total_product_count .product .main_heading {
        font-size: 1.7rem;
    }
    .product_count_section .total_product .total_product_count .total_amount .main_heading {
        font-size: 1.7rem;
    }
    .product_count_section .total_product .total_product_list .list .book_description .main_heading {
        font-size: 1.7rem;
    }
    .product_count_section .total_product .total_product_list .list .price .main_heading {
        font-size: 1.7rem;
    }
}


@media all and (max-width:768px){
    .product {
        margin-right: 5rem;
    }
    .product_count_section .count_at_a_glance .count .main_heading {
        font-size: 1.7rem;
    }
    .product_count_section .count_at_a_glance .count .main_heading {
        margin-bottom: 2rem;
    }
    .product_count_section .total_product .total_product_list .list .input-group {
        width: -1rem;
    }
    .product_count_section .total_product .total_product_list .list .book {
        margin-right: 3rem;
    }
    .product_count_section .total_product .total_product_list .list .input-group {
        width: 9rem;
    }
    .input-group-text {
        border-radius:unset; 
    }
    .product_count_section .count_at_a_glance .total .sub {
        font-size: 1.5rem;
        margin-left: 3rem;
    }
    .product_count_section .check_out a {
        text-decoration: none;
        padding: 0.8rem 2rem;
        font-size: 1.3rem;
    }
}


@media all and (max-width:576px){}